@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --semi-color:#8247FF;
  --second-color:#EEF2FF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
background-color: #f1f5f9;
  font-family: Arial, Helvetica, sans-serif;
}

td{
padding: 10px 5px;
}
th{
  padding: 5px 5px;
}
